@layer components {
  .tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    height: var(--tag-height);
    font-size: calc(var(--tag-height) * 0.625);
    padding-inline: calc(var(--tag-height) * 0.375);
    border-radius: 999999px;

    background-color: var(--tag-bg-color);
    color: var(--tag-color);

    border-width: 1px;
    border-style: solid;
    border-color: var(--tag-border-color);
  }

  .tagDot {
    width: calc(var(--tag-height) * 0.45);
    height: calc(var(--tag-height) * 0.45);
    margin-right: calc(var(--tag-height) * 0.2);
    margin-left: calc(var(--tag-height) * -0.1);
    border-radius: 50%;
    background-color: currentColor;
  }
}