import {{ class_helper_ident }} from "{{ class_helper_pkg }}";
import type { ComponentProps, FC } from "react";

import { Card } from "{{ components_import_base }}/Card";

import styles from "./alert-dialog-footer.module.scss";

type AlertDialogFooterProps = ComponentProps<typeof Card.Footer>;

const AlertDialogFooter: FC<AlertDialogFooterProps> = (props) => {
  const { className, ...rest } = props;

  return (
    <Card.Footer
      className={ {{- class_helper_ident -}}(styles.alertDialogFooter, className)}
      {...rest}
    />
  );
};

AlertDialogFooter.displayName = "AlertDialog.Footer";

export { AlertDialogFooter };
