import {{ class_helper_ident }} from "{{ class_helper_pkg }}";
import type { FC } from "react";

import { type Theme, useJss, useTheme } from "@/components/CopyUiProvider";
import { resolveStyle2 } from "@/utils/resolve-style2";

import styles from "./switch.module.css";

type SwitchProps = {
  size?: "text" | "xs" | "sm" | "md" | "lg" | "xl";
  value: boolean;
  onChange?: (value: boolean) => void;
};

const Switch: FC<SwitchProps> = (props) => {
  const { size = "md", value, onChange } = props;

  const theme = useTheme();
  const jss = useJss();

  const baseStx = jss.hash({
    "--switchRail-bgColor": theme.colors.gray["300"],
    "--switchRail-bdColor": theme.colors.gray["350"],
    "--switchRail-checked-bgColor": theme.colors.blue["600"],
    "--switchRail-checked-bdColor": theme.colors.blue["650"],
    "--switchThumb-bgColor": "white",
    "--switchThumb-bdColor": theme.colors.gray["350"],
    "--switchThumb-checked-bdColor": theme.colors.blue["650"],
  });

  const stx = jss.hash(switchStyle(theme)({ size }));

  return (
    <button
      className={ {{- class_helper_ident -}}(styles.rail, baseStx, stx)}
      data-checked={value}
      onClick={() => onChange?.(!value)}
      type="button"
      role="switch"
      aria-checked={value}
    >
      <div className={styles.thumb} />
    </button>
  );
};

Switch.displayName = "Switch";

const switchStyle = (theme: Theme) =>
  resolveStyle2({
    size: {
      text: {
        "--switchRail-h": "0.875rem",
        "--switchThumb-gap": "-0.5px",
      },
      xs: {
        "--switchRail-h": `calc(1.25rem + 1px)`,
        "--switchThumb-gap": "0.5px",
      },
      sm: {
        "--switchRail-h": `calc(1.5rem + 1px)`,
        "--switchThumb-gap": "0.5px",
      },
      md: {
        "--switchRail-h": `calc(1.75rem + 1px)`,
        "--switchThumb-gap": "1px",
      },
      lg: {
        "--switchRail-h": `calc(2rem + 1px)`,
        "--switchThumb-gap": "1px",
      },
      xl: {
        "--switchRail-h": `calc(2.25rem + 1px)`,
        "--switchThumb-gap": "1px",
      },
    },
  });

export type { SwitchProps };
export { Switch };
