import {{ class_helper_ident }} from "{{ class_helper_pkg }}";
import type { ComponentProps, FC } from "react";
import { useId } from "react";

import styles from "./field.module.css";
import {
  FieldDescription,
  FieldError,
  FieldFileInput,
  FieldInput,
  FieldLabel,
  FieldSelect,
  FieldTextarea,
} from "./field-components";
import { FieldContext } from "./field-context";

type FieldProps = ComponentProps<"fieldset">;

type FieldComponent = FC<FieldProps> & {
  Label: typeof FieldLabel;
  Description: typeof FieldDescription;
  Error: typeof FieldError;
  Input: typeof FieldInput;
  FileInput: typeof FieldFileInput;
  Textarea: typeof FieldTextarea;
  Select: typeof FieldSelect;
};

const Field: FieldComponent = (props) => {
  const { className, children, ...rest } = props;

  const id = useId();

  return (
    <FieldContext value={% raw %}{{ id }}{% endraw %}>
      <fieldset className={ {{- class_helper_ident -}}(styles.field, className)} {...rest}>
        {children}
      </fieldset>
    </FieldContext>
  );
};

Field.displayName = "Field";

Field.Label = FieldLabel;
Field.Description = FieldDescription;
Field.Error = FieldError;
Field.Input = FieldInput;
Field.FileInput = FieldFileInput;
Field.Textarea = FieldTextarea;
Field.Select = FieldSelect;

export { Field };
