.input {
  align-self: stretch;
  flex: 1;

  padding-inline-start: var(--input-padding-inline-start);
  padding-inline-end: var(--input-padding-inline-end);
  font-size: var(--input-font-size);
  line-height: var(--input-line-height);
  caret-color: var(--input-caret-color);
  background-color: white;

  &:focus {
    outline: none;
    border-color: var(--input-border-color-focus);
  }

  &::placeholder {
    color: var(--input-placeholder-color);
  }
}
