@layer components {
  .ibsBase {
    &:has(.input:focus) {
      outline: none;
      border-width: 1px;
      border-style: solid;
      border-color: var(--input-focus-bdColor);
    }
  }

  .input {
    align-self: stretch;
    flex: 1;

    padding-inline-start: var(--input-paddingInlineStart);
    padding-inline-end: var(--input-paddingInlineEnd);
    caret-color: var(--input-caretColor);

    outline: none;
    border: none;

    font-size: var(--input-fontSize);
    line-height: var(--input-lineHeight);

    &::placeholder {
      color: var(--input-placeholderColor);
    }

    [data-disabled="true"] & {
      pointer-events: none;
      cursor: inherit;
    }
  }
}
