@layer components {
  .inputBase {
    background-color: var(--input-bg-color);
  }

  .input {
    align-self: stretch;
    flex: 1;

    padding-inline-start: var(--input-padding-inline-start);
    padding-inline-end: var(--input-padding-inline-end);
    font-size: var(--input-font-size);
    line-height: var(--input-line-height);
    caret-color: var(--input-caret-color);

    outline: none;
    border: none;

    .inputBase:has(&:focus) {
      outline: none;
      border-width: 1px;
      border-style: solid;
      border-color: var(--input-focus-border-color);
    }

    &::placeholder {
      color: var(--input-placeholder-color);
    }

    [data-disabled="true"] & {
      pointer-events: none;
      cursor: inherit;
    }
  }
}
