.button {
  display: flex;
  align-items: center;

  height: var(--button-height);
  padding-inline: var(--button-padding-x);
  background-color: var(--button-bg);
  color: var(--button-color);
  border: var(--button-border-width) var(--button-border-style) var(--button-border-color);
  border-radius: var(--button-radius);

  cursor: pointer;

  &:hover {
    background-color: var(--button-bg-hover);
  }
}

.buttonLeftSection {
  margin-right: 0.625rem;
}

.buttonRightSection {
  margin-left: 0.625rem;
}
