.button {
  height: var(--button-height);
  padding-inline: var(--button-padding-x);
  background-color: var(--button-bg);
  color: var(--button-color);
  border: var(--button-border);
  border-radius: var(--button-radius);

  cursor: pointer;
}
