@layer components {
  .codeHighlight {
    display: flex;
    flex-direction: row;
    width: 100%;
    line-height: 1.4;
  }

  .codeHighlight[data-with-line-number="true"] {
    display: flex;

    .codeHighlightContent {
      flex: 1;
    }
  }

  .codeHighlightPre {
    padding-top: var(--codeHighlight-py);
    padding-bottom: var(--codeHighlight-py);
    flex: 1;
  }

  .codeHighlightLine {
    width: 100%;
    padding-right: var(--codeHighlight-px);

    &[data-highlighted="true"] {
      background-color: var(--codeHighlightLine-highlighted-bgColor);
    }

    &[data-with-line-number="true"] {
      padding-left: 0.75rem;
    }
  }

  .codeHighlightLineNumber {
    padding-right: 0.25rem;
    padding-left: var(--codeHighlight-px);

    &[data-highlighted="true"] {
      color: var(--codeHighlightLineNumber-highlighted-color);
      background-color: var(--codeHighlightLineNumber-highlighted-bgColor);
    }
  }

  .codeHighlightLineNumberContainer {
    display: flex;
    flex-direction: column;
    color: var(--codeHighlightLineNumbers-color);
    text-align: right;
    min-width: 1.75rem;
    font-family: var(--font-mono);
    user-select: none;
    padding-top: var(--codeHighlight-py);
    padding-bottom: var(--codeHighlight-py);
  }
}
