@layer components {
  .selectTrigger {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    text-align: start;
    font-size: var(--select-font-size);

    padding-inline: var(--select-main-padding-inline);
    height: var(--select-main-height);
    min-width: 12rem;

    border-width: 1px;
    border-style: solid;
    border-color: var(--select-main-border-color);
    border-radius: var(--select-main-border-radius);

    background-color: white;

    cursor: pointer;
    user-select: none;

    &:not([data-value-picked="true"]) {
      color: var(--select-main-placeholder-color);
    }
    &[data-disabled="true"] {
      background-color: var(--select-main-disabled-bg-color);
      border-color: var(--select-main-disabled-border-color);
      color: var(--select-main-disabled-color);
      cursor: not-allowed;
    }
    &:focus {
      border-color: var(--select-main-focus-border-color);
      outline: none;
    }
    &[data-opened="true"] {
      border-color: var(--select-main-focus-border-color);
    }
  }

  .selectIcon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: var(--select-line-height);
    height: var(--select-line-height);
  }
}