.tabs {
  display: flex;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  
  padding-left: var(--tab-padding-x);
  padding-right: var(--tab-padding-x);
  padding-top: var(--tab-padding-y);
  padding-bottom: calc(var(--tab-padding-y) + 0.125rem / 2);

  border-bottom: 0.125rem solid var(--tab-border-color);

  background-color: var(--tab-bg);
  color: var(--tab-color);

  font-size: var(--tab-font-size);
  
  cursor: pointer;

  &:hover .wrapper {
    background-color: var(--tab-hover-wrapper-bg);
  }

  .wrapper {
    padding-left: var(--tab-wrapper-padding-x);
    padding-right: var(--tab-wrapper-padding-x);
    padding-top: var(--tab-wrapper-padding-y);
    padding-bottom: var(--tab-wrapper-padding-y);
    border-radius: 0.25rem;
  }
}
