@layer components {
  .tabsTabDefault {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-left: var(--tab-padding-x);
    padding-right: var(--tab-padding-x);
    padding-top: var(--tab-padding-y);
    padding-bottom: calc(var(--tab-padding-y) + 0.125rem / 2);

    border-bottom-width: var(--tab-border-bottom-width);
    border-bottom-style: var(--tab-border-bottom-style);
    border-bottom-color: var(--tab-border-bottom-color);

    background-color: var(--tab-bg);
    color: var(--tab-color);

    font-size: var(--tab-font-size);
    
    cursor: pointer;

    &[data-active="true"] {
      border-bottom-color: var(--tab-active-border-bottom-color);
      color: var(--tab-active-color);
      background-color: var(--tab-active-bg);
    }

    &:hover .wrapper {
      background-color: var(--tab-hover-wrapper-bg);
    }

    .wrapper {
      padding-left: var(--tab-wrapper-padding-x);
      padding-right: var(--tab-wrapper-padding-x);
      padding-top: var(--tab-wrapper-padding-y);
      padding-bottom: var(--tab-wrapper-padding-y);
      border-radius: 0.5rem;
    }
  }

  .tabsTabEnclosed {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-left: var(--tab-padding-x);
    padding-right: var(--tab-padding-x);
    padding-top: var(--tab-padding-y);
    padding-bottom: calc(var(--tab-padding-y) + 0.125rem / 2);

    border-width: var(--tab-border-width);
    border-style: var(--tab-border-style);
    border-color: var(--tab-border-color);
    border-radius: var(--tab-border-radius);

    background-color: var(--tab-bg);
    color: var(--tab-color);

    font-size: var(--tab-font-size);
    
    cursor: pointer;

    &[data-active="true"] {
      border-width: var(--tab-active-border-width);
      border-style: var(--tab-active-border-style);
      border-color: var(--tab-active-border-color);
      background-color: var(--tab-active-bg);
      color: var(--tab-active-color);
    }
  }
}
