import {{ class_helper_ident }} from "{{ class_helper_pkg }}";
import type dayjs from "dayjs";
import { CalendarDays } from "lucide-react";
import type { FC } from "react";
import { Calendar } from "@/components/Calendar";
import { useJss } from "@/components/CopyUiProvider";
import { Popover } from "@/components/Popover";
import styles from "./calendar-opener.module.css";

type CalendarOpenerProps = {
  value?: dayjs.Dayjs | null;
  onChange?: (day: dayjs.Dayjs) => void;
};

const CalendarOpener: FC<CalendarOpenerProps> = (props) => {
  const { value, onChange } = props;

  const jss = useJss();

  const stx = jss.hash({
    "--calendarOpenerTrigger-color":
      "var(--dataPickerCalendarOpenerTrigger-color)",
    "--calendarOpenerTrigger-hover-bgColor":
      "var(--dataPickerCalendarOpenerTrigger-hover-bgColor)",
  });

  return (
    <Popover>
      <Popover.Trigger
        render={({ setRef, onToggle }) => (
          <button
            type="button"
            className={ {{- class_helper_ident -}}(styles.calendarOpener, stx)}
            ref={setRef}
            onClick={onToggle}
          >
            <CalendarDays size={"60%"} />
          </button>
        )}
      />
      <Popover.Portal
        onClickOutside={({ closePortal }) => closePortal()}
        render={({ setRef, isOpen, floatingStyles, togglePortal }) =>
          isOpen && (
            <div ref={(el) => setRef(el)} style={floatingStyles}>
              <Calendar
                value={value}
                onChange={(v) => {
                  onChange?.(v);
                  togglePortal();
                }}
              />
            </div>
          )
        }
      />
    </Popover>
  );
};

export { CalendarOpener };
