import {{ class_helper_ident }} from "{{ class_helper_pkg }}";
import type { ComponentProps, FC } from "react";

import { useJss, useMode, useTheme } from "{{ components_import_base }}/CopyUiProvider";

import { TableBody } from "./table-body";
import { TableCell } from "./table-cell";
import { TableFooter } from "./table-footer";
import { TableHead } from "./table-head";
import { TableHeader } from "./table-header";
import { TableRow } from "./table-row";

type TableProps = ComponentProps<"table">;

type TableComponent = FC<TableProps> & {
  Header: typeof TableHeader;
  Body: typeof TableBody;
  Footer: typeof TableFooter;
  Row: typeof TableRow;
  Head: typeof TableHead;
  Cell: typeof TableCell;
};

const Table: TableComponent = (props: TableProps) => {
  const { className, ...rest } = props;

  const mode = useMode();
  const theme = useTheme();
  const jss = useJss();

  const stx = jss.hash({
    "--table-borderColor":
      mode === "light" ? theme.colors.gray["200"] : theme.colors.gray["600"],
  });

  return <table className={ {{- class_helper_ident -}}(stx, className)} {...rest} />;
};

Table.displayName = "Table";

Table.Header = TableHeader;
Table.Body = TableBody;
Table.Footer = TableFooter;
Table.Row = TableRow;
Table.Head = TableHead;
Table.Cell = TableCell;

export { Table };
