import {{ class_helper_ident }} from "{{ class_helper_pkg }}";
import type { ComponentProps, FC } from "react";

import styles from "./ibs-base-wrapper.module.scss";

type IbsBaseWrapperProps = ComponentProps<"div">;

const IbsBaseWrapper: FC<IbsBaseWrapperProps> = (props) => {
  const { className, children, ...rest } = props;

  return (
    <div className={ {{- class_helper_ident -}}(styles.ibsBaseWrapper, className)} {...rest}>
      {children}
    </div>
  );
};

IbsBaseWrapper.displayName = "IbsBase.Wrapper";

export { IbsBaseWrapper };
