ibs-base-left-section.module.scss
ibs-base-left-section.tsx
ibs-base-right-section.module.scss
ibs-base-right-section.tsx
ibs-base-wrapper.module.scss
ibs-base-wrapper.tsx
ibs-base.module.scss
ibs-base.tsx
index.ts
style.ts
