// IbsBase from copy-ui (version: {{ version }}, date: {{ date }}).

export { IbsBase } from "./ibs-base";
export type { IbsBaseRootProps, IbsBaseStyleProps } from "./ibs-base";
export { extractStylesProps } from "./style";
