@layer components {
  .portal {
    display: flex;
    flex-direction: row;

    background-color: white;
    border: 1px solid var(--timeSelectorPortal-bdColor);
    border-radius: var(--timeSelectorPortal-bdRadius);
  }

  .detail {
    display: flex;
    flex-direction: column;
    width: 22rem;
    gap: 1rem;

    padding: 0.75rem;
    border-right: 1px solid var(--timeSelectorPortal-bdColor);
  }

  .detailFooter {
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
    margin-top: 1.875rem;
  }

  .presetListScrollArea {
    width: 12rem;
    height: var(--timeSelectorPortalPresetList-h);
  }

  .presetList {
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
    padding: 0.5rem;

    overflow: auto;

    li button {
      width: 100%;
      padding: 0.25rem 0.5rem;
      text-align: start;

      border-radius: var(--timeSelectorPortal-bdRadius);

      cursor: pointer;

      &:hover {
        background-color: var(--timeSelectorPortalPresetListButton-hover-bgColor);
      }
    }
  }
}