import {{ class_helper_ident }} from "{{ class_helper_pkg }}";
import type { ComponentProps } from "react";

import { useJss, useTheme } from "@/components/CopyUiProvider";

import styles from "./textarea.module.scss";

type TextareaProps = ComponentProps<"textarea">;

const Textarea: React.FC<TextareaProps> = (props) => {
  const { className, children, ...rest } = props;

  const theme = useTheme();
  const jss = useJss();

  const stx = jss.hash({
    "--textarea-bdColor": theme.colors.gray["400"],
    "--textarea-focus-bdColor": theme.colors.blue["800"],
    "--textarea-bgColor": "white",
    "--textarea-fontSize": "0.875rem",
    "--textarea-lineHeight": "1.125rem",
    "--textarea-placeholderColor": theme.tokens.inputBasePlaceholderColor,
  });

  return (
    <textarea className={ {{- class_helper_ident -}}(styles.textarea, stx, className)} {...rest}>
      {children}
    </textarea>
  );
};

Textarea.displayName = "Textarea";

export { Textarea };
