import {{ class_helper_ident }} from "{{ class_helper_pkg }}";
import { type FC, type ReactNode, useMemo } from "react";

import { useJss, useTheme } from "@/components/CopyUiProvider";
import { type Placement, Popover } from "@/components/Popover";

import styles from "./tooltip.module.css";

interface TooltipTriggerRenderProps {
  setRef: (el: Element | null) => void;

  onOpen: () => void;
  onClose: () => void;
}

interface TooltipProps {
  label: string;
  anchor?: "element" | "pointer";
  placement?: Placement;
  openDelay?: number;

  triggerRender: (props: TooltipTriggerRenderProps) => ReactNode;
}

export const Tooltip: FC<TooltipProps> = (props) => {
  const {
    label,
    anchor = "element",
    placement = "top",
    openDelay = 300,
    triggerRender,
  } = props;

  const theme = useTheme();
  const jss = useJss();

  const computedStyle = jss.hash({
    "--tooltip-bgColor": theme.colors.gray["900"],
    "--tooltip-color": theme.colors.gray["100"],
  });

  const offset = useMemo(() => {
    if (anchor === "pointer") {
      return 12;
    }
    return undefined;
  }, [anchor]);

  return (
    <Popover offset={offset} anchor={anchor} placement={placement}>
      <Popover.Trigger openDelay={openDelay} render={triggerRender} />
      <Popover.Portal
        render={({ setRef, isOpen, floatingStyles }) =>
          isOpen && (
            <div
              ref={setRef}
              className={ {{- class_helper_ident -}}(styles.tooltip, computedStyle)}
              style={floatingStyles}
            >
              {label}
            </div>
          )
        }
      />
    </Popover>
  );
};

Tooltip.displayName = "Tooltip";
