import {{ class_helper_ident }} from "{{ class_helper_pkg }}";
import type { ComponentProps, FC } from "react";

import { useJss, useTheme } from "@/components/CopyUiProvider";

import styles from "./alert-description.module.css";

type AlertDescriptionProps = ComponentProps<"p">;

const AlertDescription: FC<AlertDescriptionProps> = (props) => {
  const { className, children, ...rest } = props;

  const theme = useTheme();
  const jss = useJss();

  const stx = jss.hash({
    "--alert-description-fontSize": "calc(0.875rem + 1px)",
    "--alert-description-lineHeight": "1.5",
    "--alert-description-color": theme.colors.gray["750"],
  });

  return (
    <p
      className={ {{- class_helper_ident -}}(styles.alertDescription, stx, className)}
      {...rest}
    >
      {children}
    </p>
  );
};

AlertDescription.displayName = "Alert.Description";

export { AlertDescription };
