@layer components {
  .selectList {
    display: flex;
    flex-direction: column;
    gap: 0.125rem;

    width: var(--select-list-width);

    padding: var(--select-list-padding);

    border-width: 1px;
    border-style: solid;
    border-color: var(--select-list-border-color);
    border-radius: var(--select-list-border-radius);

    background-color: white;

    font-size: var(--select-font-size);
  }

  .selectItem button {
    text-align: start;

    width: 100%;
    padding: 0.25rem var(--select-list-item-padding-inline);

    border-radius: calc(var(--select-list-border-radius) * 0.5);

    cursor: pointer;
    user-select: none;

    &:hover {
      background-color: var(--select-item-hover-bg-color);
    }
  }
}