.selectMain {
  display: flex;
  align-items: center;

  text-align: start;
  font-size: var(--select-font-size);

  padding-inline: 0.5rem;
  height: var(--select-main-height);
  min-width: 16rem;

  border-width: 1px;
  border-style: solid;
  border-color: var(--select-main-border-color);
  border-radius: var(--select-main-border-radius);

  background-color: white;

  cursor: pointer;
  user-select: none;

  &[data-value-picked="false"] {
    color: var(--select-main-placeholder-color);
  }
  &[data-disabled="true"] {
    background-color: var(--select-main-disabled-bg-color);
    border-color: var(--select-main-disabled-border-color);
    color: var(--select-main-disabled-color);
    cursor: not-allowed;
  }
}

.selectIcon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: var(--select-line-height);
  height: var(--select-line-height);
}

.selectList {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;

  width: var(--select-list-width);

  padding: 0.125rem;

  border-width: 1px;
  border-style: solid;
  border-color: var(--select-list-border-color);
  border-radius: var(--select-list-border-radius);

  background-color: white;

  font-size: var(--select-font-size);
}

.selectItem button {
  text-align: start;

  width: 100%;
  padding: 0.25rem 0.375rem;

  border-radius: calc(var(--select-list-border-radius) * 0.5);

  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: var(--select-item-hover-bg-color);
  }
}
