.sortIndicatorButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 0.5rem;
  padding: 0.5rem 1rem;

  &:hover {
    background-color: oklch(98.5% 0.002 247.839);
  }
}

.popoverPortal {
  background-color: #f8f9fa;
  padding: 0.5rem 1rem;
  border: 1px solid #adb5bd;
  border-radius: 0.375rem;
}