import {{ class_helper_ident }} from "{{ class_helper_pkg }}";
import type { ComponentProps, FC } from "react";

import { Typography } from "{{ components_import_base }}/Typography";

import styles from "./card-content.module.scss";

type CardContentProps = ComponentProps<"div"> & {
  withTypography?: boolean;
};

const CardContent: FC<CardContentProps> = (props) => {
  const { children, className, withTypography = false, ...rest } = props;

  return (
    <div
      className={ {{- class_helper_ident -}}(styles.cardContent, className)}
      data-component="card-content"
      {...rest}
    >
      {withTypography ? <Typography>{children}</Typography> : children}
    </div>
  );
};

CardContent.displayName = "Card.Content";

export { CardContent };
