import {{ class_helper_ident }} from "{{ class_helper_pkg }}";
import type { ComponentProps, FC } from "react";

import { useJss, useTheme } from "{{ components_import_base }}/CopyUiProvider";

import styles from "./card-header.module.scss";

type CardHeaderProps = ComponentProps<"div"> & {
  withBorder?: boolean;
};

const CardHeader: FC<CardHeaderProps> = (props) => {
  const { children, className, withBorder = false, ...rest } = props;

  const jss = useJss();
  const theme = useTheme();

  const stx = jss.hash({
    "--cardHeader-bdColor": theme.colors.gray["300"],
  });

  return (
    <div
      className={ {{- class_helper_ident -}}(styles.cardHeader, stx, className)}
      data-with-border={withBorder ? "true" : undefined}
      data-component="card-header"
      {...rest}
    >
      {children}
    </div>
  );
};

CardHeader.displayName = "Card.Header";

export { CardHeader };
