@layer components {
  .cardContentInScrollAreaContent {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  * + .cardContentInScrollArea {
    .cardContentInScrollAreaContent {
      padding-top: 0.625rem;
    }
  }

  .cardContentInScrollArea:has(+ *) {
    .cardContentInScrollAreaContent {
      padding-bottom: 0.625rem;
    }
  }
}

