@layer components {
  .cardContent {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  * + .cardContent {
    padding-top: 0.75rem;
  }

  .cardContent:has(+ *) {
    padding-bottom: 0.75rem;
  }
}
