import {{ class_helper_ident }} from "{{ class_helper_pkg }}";
import { CheckIcon } from "lucide-react";
import { type FC, useState } from "react";

import { useJss, useMode, useTheme } from "@/components/CopyUiProvider";

import styles from "./checkbox.module.scss";

interface CheckboxProps {
  id?: string;
}

const Checkbox: FC<CheckboxProps> = (props) => {
  const { id } = props;

  const theme = useTheme();
  const jss = useJss();
  const mode = useMode();

  const [checked, setChecked] = useState(false);

  const stx = jss.hash({
    "--checkbox-bgColor": mode === "light" ? "white" : theme.colors.gray["900"],
    "--checkbox-bdColor":
      mode === "light" ? theme.colors.gray["300"] : theme.colors.gray["700"],
    "--checkbox-markColor":
      mode === "light" ? "white" : theme.colors.gray["900"],
    "--checkbox-checked-bgColor":
      mode === "light" ? theme.colors.gray["700"] : theme.colors.gray["100"],
    "--checkbox-checked-bdColor":
      mode === "light" ? theme.colors.gray["700"] : theme.colors.gray["100"],
  });

  return (
    <button
      type="button"
      id={id}
      className={ {{- class_helper_ident -}}(styles.checkbox, stx, checked && styles.checked)}
      onClick={() => setChecked(!checked)}
    >
      {checked && (
        <span className={styles.checkboxMark}>
          {<CheckIcon size={"100%"} />}
        </span>
      )}
    </button>
  );
};

export { Checkbox };
