.codeHighlight {
  line-height: 1.4;
}

.codeHighlight[data-with-line-number="true"] {
  display: flex;
}

.codeHighlightLineNumbers {
  color: var(--code-highlight-line-numbers-color);
  margin-right: 1rem;
  text-align: right;
  user-select: none;
  min-width: 1.5rem;
  font-family: var(--font-mono);
}
