import {{ class_helper_ident }} from "{{ class_helper_pkg }}";
import { Moon, Sun } from "lucide-react";
import type { FC } from "react";

import {
  useJss,
  useMode,
  useSetMode,
  useTheme,
} from "{{ components_import_base }}/CopyUiProvider";
import { IconButton } from "{{ components_import_base }}/IconButton";

import styles from "./topbar.module.scss";

type TopbarProps = {
  className?: string;
};

const Topbar: FC<TopbarProps> = (props) => {
  const { className } = props;

  const theme = useTheme();
  const jss = useJss();
  const mode = useMode();

  const setMode = useSetMode();

  const handleToggleDarkMode = () => {
    setMode((prevMode) => (prevMode === "light" ? "dark" : "light"));
  };

  const stx = jss.hash({
    "--topbar-bg":
      mode === "dark" ? theme.colors.gray["800"] : theme.colors.gray["000"],
    "--topbar-border-color": theme.colors.gray["300"],
    "--topbar-color":
      mode === "dark" ? theme.colors.gray["200"] : theme.colors.gray["800"],
  });

  return (
    <div className={ {{- class_helper_ident -}}(styles.topbar, stx, className)}>
      <div className={styles.content}>
        <span className={styles.logo}>Copy UI</span>
        <div className={styles.spacer} />
        <IconButton
          variant="default"
          size="sm"
          onClick={handleToggleDarkMode}
          aria-label={
            mode === "dark" ? "Switch to light mode" : "Switch to dark mode"
          }
        >
          {mode === "dark" ? <Sun size="1.125rem" /> : <Moon size="1.125rem" />}
        </IconButton>
      </div>
    </div>
  );
};

Topbar.displayName = "Topbar";

export { Topbar };
