@layer components {
  .fieldLabel {
    font-size: 0.875rem;
    color: var(--fieldLabel-color);
  }

  .fieldDescription {
    font-size: 0.75rem;
    color: var(--fieldDescription-color);
  }

  .fieldError {
    font-size: 0.75rem;
    color: var(--fieldError-color);
  }
}
