import {{ class_helper_ident }} from "{{ class_helper_pkg }}";
import type { ComponentProps, FC } from "react";

import { useJss } from "@/components/CopyUiProvider";

import styles from "./modal-content.module.scss";

type ModalContentProps = ComponentProps<"div"> & {
  yOffset?: string;
  center?: boolean;
  shadow?: boolean;
};

const ModalContent: FC<ModalContentProps> = (props) => {
  const { yOffset, center, shadow, className, ...rest } = props;

  const jss = useJss();

  const stx = jss.hash({
    "--modal-content-y-offset": yOffset,
  });

  return (
    <div
      className={ {{- class_helper_ident -}}(styles.modalContent, stx, className)}
      data-center={center}
      data-shadow={shadow}
      {...rest}
    />
  );
};

ModalContent.displayName = "Modal.Content";

export { ModalContent };
