@layer components {
  .calendarOpener {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 90%;
    color: var(--data-picker-button-color);
    border-radius: 999999px;
    cursor: pointer;

    &:hover {
      background-color: var(--data-picker-button-hover-bg-color);
    }
  }
}
