@layer components {
  .datePickerInput {
    padding-inline: var(--dataPickerInput-paddingInline);
    user-select: none;
  }

  .datePickerInputPart {
    cursor: pointer;
    padding: 0 calc(0.125rem + 1px);
    margin: calc(-0.125rem - 1px);
    border-radius: 0.25rem;
    caret-color: transparent;

    &:hover {
      background-color: var(--dataPickerInputPart-hover-bgColor);
    }

    &:focus {
      background-color: var(--dataPickerInputPart-focus-bgColor);
    }

    &:focus-visible {
      outline: none;
    }

    &.noValue {
      color: var(--dataPickerInputPart-noValue-color);
    }
  }

  .datePickerInputDecorator {
    position: relative;
    color: var(--dataPickerInputDecorator-color);
    padding: 0 0.5px;
  }
}
