.page {
  display: flex;
  flex-direction: column;

  height: 100vh;
  width: 100vw;
}

.pageWithoutTopbar {
  flex: 1;
  width: 100%;
  position: relative;

  .pageWithoutTopbarWrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: row;
  }
}

.childrenContainer {
  flex: 1;
}
