import {{ class_helper_ident }} from "{{ class_helper_pkg }}";
import type { CSSProperties, FC } from "react";

import styles from "./background-container.module.scss";

type BackgroundContainerProps = {
  className?: string;
  style?: CSSProperties;
  children?: React.ReactNode;
};

const BackgroundContainer: FC<BackgroundContainerProps> = (props) => {
  const { className, style, children } = props;

  return (
    <div
      className={ {{- class_helper_ident -}}(styles.backgroundContainer, className)}
      style={style}
    >
      {children}
    </div>
  );
};

BackgroundContainer.displayName = "Background.Container";

export { BackgroundContainer };
