import {{ class_helper_ident }} from "{{ class_helper_pkg }}";
import type { ComponentProps, FC } from "react";

import styles from "./empty-header.module.scss";

type EmptyHeaderProps = ComponentProps<"div">;

const EmptyHeader: FC<EmptyHeaderProps> = (props) => {
  const { children, className, ...rest } = props;

  return (
    <div className={ {{- class_helper_ident -}}(styles.emptyHeader, className)} {...rest}>
      {children}
    </div>
  );
};

EmptyHeader.displayName = "Empty.Header";

export { EmptyHeader };
