import {{ class_helper_ident }} from "{{ class_helper_pkg }}";
import type { ComponentProps, FC } from "react";

import styles from "./empty-title.module.scss";

type EmptyTitleProps = ComponentProps<"div">;

const EmptyTitle: FC<EmptyTitleProps> = (props) => {
  const { children, className, ...rest } = props;

  return (
    <div className={ {{- class_helper_ident -}}(styles.emptyTitle, className)} {...rest}>
      {children}
    </div>
  );
};

EmptyTitle.displayName = "Empty.Title";

export { EmptyTitle };
