@layer components {
  .emptyMedia {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 2.5rem;
    height: 2.5rem;
    color: var(--emptyMedia-color);
    background-color: var(--emptyMedia-bgColor);
    border-radius: var(--emptyMedia-bdRadius);

    > svg {
      width: 1.5rem;
      height: 1.5rem;
      color: inherit;
    }
  }
}