import type { ComponentProps, FC } from "react";
import { Flex } from "{{ components_import_base }}/Flex";

type EmptyContentProps = ComponentProps<typeof Flex>;

const EmptyContentFlex: FC<EmptyContentProps> = (props) => {
  const { children, ...rest } = props;

  return <Flex {...rest}>{children}</Flex>;
};

EmptyContentFlex.displayName = "Empty.ContentFlex";

export { EmptyContentFlex };
