.section {
  display: flex;
  flex-direction: column;
}

.sectionHeader {
  border-bottom: 1px solid var(--border-color);
  padding: 2rem;
}

.sectionHeaderWrapper {
  margin: 0 auto;
  max-width: 64rem;
}

.sectionBody {
  padding: 2rem 2rem 4rem 2rem;
}

.sectionBodyWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  max-width: 64rem;
}

.demoAndCode {
  border-radius: 0.75rem;
  border: 1px solid var(--border-color);
  overflow: hidden;
}

.demo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  border-bottom: 1px solid var(--border-color);
}

.demoCode {
  display: flex;
  position: relative;

  background-color: var(--background-color);
  font-size: 0.75rem;
}

.demoCodeViewport {
  position: relative;
  flex: 1;
  max-height: 30vh;
}

.demoCodeContent {
  padding: 0.75rem;
}

.sourceCode {
  display: flex;
  border-radius: 0.75rem;
  border: 1px solid var(--border-color);
  overflow: hidden;
}

.sourceCodeTree {
  display: flex;
  gap: 0.125rem;
  flex-direction: column;
  padding: 0.375rem;
  width: 13rem;
  border-right: 1px solid var(--border-color);
}

.sourceCodeTreeFilename {
  padding: 0.375rem 0.5rem;
  text-align: left;
  border-radius: 0.5rem;
  user-select: none;
  font-size: 0.875rem;
  cursor: pointer;

  &:hover {
    background-color: oklch(98.5% 0.002 247.839);
  }

  &.active {
    background-color: oklch(96.7% 0.003 264.542);
  }
}

.codeBlock {
  position: relative;
  display: flex;

  background-color: var(--background-color);
  height: 62.5vh;
  font-size: 0.75rem;

  .floatingToolbar {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
  }
}

.codeBlockScrollArea {
  flex: 1;
}

.codeBlockContent {
  padding: 0.75rem;
}

.changeLogContent {
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 0.75rem;
  padding: 0.75rem;
  font-size: 0.75rem;
}