import {{ class_helper_ident }} from "{{ class_helper_pkg }}";
import type { FC } from "react";

import styles from "./button-group.module.scss";

export type ButtonGroupProps = {
  className?: string;
  children: React.ReactNode;
};

export const ButtonGroup: FC<ButtonGroupProps> = (props) => {
  const { className, children } = props;

  return (
    <div
      data-component="button-group"
      className={ {{- class_helper_ident -}}(styles.buttonGroup, className)}
    >
      {children}
    </div>
  );
};
