// PopoverMenu from copy-ui (version: {{ version }}, date: {{ date }}).

export type { Placement } from "./popover-menu";
export { PopoverMenu } from "./popover-menu";
export type { PopoverMenuItemProps } from "./popover-menu-item";
