@layer components {
  .popoverMenuContent {
    min-width: 12rem;
    border-width: 1px;
    border-style: solid;
    border-color: var(--popover-menu-border-color);
    border-radius: var(--popover-menu-border-radius);
    background-color: white;
    font-size: var(--popover-menu-font-size);
    line-height: var(--popover-menu-line-height);
  }

  .popoverMenuList {
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
    padding: 0.25rem;
  }
}

