import {{ class_helper_ident }} from "{{ class_helper_pkg }}";
import type { FC } from "react";

import { useJss, useTheme } from "@/components/CopyUiProvider";

import styles from "./popover-menu-separator.module.scss";

const PopoverMenuSeparator: FC = () => {
  const theme = useTheme();
  const jss = useJss();

  const separatorStx = jss.hash({
    "--popover-menu-separator-color": theme.colors.gray["200"],
  });

  return (
    <li className={ {{- class_helper_ident -}}(styles.popoverMenuSeparator, separatorStx)} />
  );
};

PopoverMenuSeparator.displayName = "PopoverMenu.Separator";

export { PopoverMenuSeparator };
