@layer components {
  .breadcrumbSep {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 8px;
    color: var(--breadcrumbSep-color);
    user-select: none;

    > svg {
      width: var(--breadcrumb-fontSize);
      height: var(--breadcrumb-fontSize);
    }
  }
}
