import {{ class_helper_ident }} from "{{ class_helper_pkg }}";
import type { FC } from "react";

import { useJss } from "{{ components_import_base }}/CopyUiProvider";

import styles from "./breadcrumb.module.scss";
import { BreadcrumbItem } from "./breadcrumb-item";
import { BreadcrumbSep } from "./breadcrumb-sep";

type BreadcrumbProps = {
  size?: "sm" | "md" | "lg";
  children?: React.ReactNode;
};

type BreadcrumbComponent = FC<BreadcrumbProps> & {
  Item: typeof BreadcrumbItem;
  Sep: typeof BreadcrumbSep;
};

const Breadcrumb: BreadcrumbComponent = (props: BreadcrumbProps) => {
  const { size = "md", children } = props;

  const jss = useJss();

  const stx = jss.hash({
    "--breadcrumb-fontSize": {
      sm: "0.875rem",
      md: "1rem",
      lg: "1.125rem",
    }[size],
  });

  return <ol className={ {{- class_helper_ident -}}(styles.breadcrumb, stx)}>{children}</ol>;
};

Breadcrumb.displayName = "Breadcrumb";

Breadcrumb.Item = BreadcrumbItem;
Breadcrumb.Sep = BreadcrumbSep;

export { Breadcrumb };
