.inputBase {
  display: inline-flex;
  
  height: var(--input-base-height);
  min-width: var(--input-base-min-width);

  border-width: 1px;
  border-style: solid;
  border-color: var(--input-base-border-color);
  border-radius: var(--input-base-border-radius);

  background-color: white;

  overflow: hidden;
}

.wrapper {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
}

.leftSection, .rightSection {
  display: flex;
  align-items: center;
  justify-content: center;

  width: calc(var(--input-base-height) - 2px);
  height: calc(var(--input-base-height) - 2px);
}
