@layer components {
  .TableRow {
    background-color: var(--tableRow-bgColor);
    color: var(--tableRow-color);

    &:not(:last-child) {
      border-bottom: 1px solid var(--table-borderColor);
    }

    &:hover {
      background-color: var(--tableRow-hover-bgColor);
    }
  }
}
