@layer components {
  .ibsBaseRightSection {
    display: flex;
    align-items: center;
    justify-content: center;

    width: var(--ibsBaseRightSection-w);
    height: var(--ibsBaseRightSection-h);
  }
}
