@layer components {
  .ibsBaseLeftSection {
    display: flex;
    align-items: center;
    justify-content: center;

    width: var(--ibsBaseLeftSection-w);
    height: var(--ibsBaseLeftSection-h);
  }
}
