@layer components {
  .ibsBaseLeftSection {
    display: flex;
    align-items: center;
    justify-content: center;

    width: calc(var(--ibsBase-h) - 2px);
    height: calc(var(--ibsBase-h) - 2px);
  }
}

