@layer components {
  .iconButton {
    display: flex;
    align-items: center;
    justify-content: center;

    height: var(--button-size);
    width: var(--button-size);
    background-color: var(--button-bgColor);
    color: var(--button-color);
    border-width: var(--button-bdWidth);
    border-style: var(--button-bdStyle);
    border-color: var(--button-bdColor);
    border-radius: var(--button-bdRadius);

    cursor: pointer;

    &:hover {
      background-color: var(--button-hover-bgColor);
    }

    & > svg {
      width: var(--icon-size);
      height: var(--icon-size);
    }
  }
}
