@layer components {
  .scrollAreaViewport {
    overflow: scroll;
    scrollbar-width: none;

    &[data-variant="default"] {
      width: 100%;
      height: 100%;
    }

    &[data-variant="absolute"] {
      position: absolute;
      inset: 0;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
